{% extends 'index.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <title>갤러리</title>
    <style>
        img{        
        width: 800px;
        height: 800px;
        }
    </style>
</head>
{% endblock %}
{% block footer %}
<body>
    <div class="container">
        <div>
        <img src="{% static 'img/고등학교.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/5살.PNG' %}">
        </div>
        <div>
        <img src="{% static 'img/포3.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/고1.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/포1.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/포2.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/20211.jpg' %}">
        </div>
        <div> 
        <img src="{% static 'img/2022.jpg' %}">
        </div>
        <div>
        <img src="{% static 'img/최근.jpg' %}">
        </div>
    
</body>
</html>
{% endblock %}