{% extends 'layout.html' %} 
{% load static %} 
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
{% endblock %}
{% block content %}

    <div class="container1">
        <img src="{% static 'img/고등학교.jpg' %}">
    </img>
        <img src="{% static 'img/5살.PNG' %}">
    </img>
        <img src="{% static 'img/포3.jpg' %}">
    </img>
    </div>
    
    <div class="container2">
        <img src="{% static 'img/고1.jpg' %}">
    </img>
        <img src="{% static 'img/포1.jpg' %}">
    </img>
        <img src="{% static 'img/포2.jpg' %}">
    </img>
    </div>

    <div class="container3">
        <img src="{% static 'img/20211.jpg' %}">
    </img>
        <img src="{% static 'img/2022.jpg' %}">
    </img>
        <img src="{% static 'img/최근.jpg' %}">
    </lmg>
    </div>
{% endblock %}
